

.svg {
    width: 250px;
    text-align: center;
    align-items: center;
  }
  
  .container {
    align-items: center;
    height: 60%;
    justify-content: center;

    display: flex;
    align-items: center;
  }

  .item {
    position: relative;
    width: 150px;
    height: 50px;
    pointer-events: auto;
    transform-origin: 50% 50% 0px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 10px;
    box-sizing: border-box;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 9px;
    box-shadow: 0px 10px 10px -5px rgba(207, 203, 203, 0.2);
    -webkit-user-select: none;
    user-select: none;
  }
  
  .fg {
    cursor: -webkit-grab;
    background-color: #0B1120;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 10px 30px -5px rgba(207, 203, 203, 0.2);
    font-size: 1em;
  
    font-weight: 600;
    transition: box-shadow 0.75s;
  }
  
  .fg:active {
    cursor: -webkit-grabbing;
    box-shadow: 0px 15px 30px -5px rgba(252, 227, 3, 0.671);
  }
  
  .fg > * {
    pointer-events: none;
  }
  
  .av {
    width: 50px;
    height: 50px;
    border-radius: 10%; /* Cambia la forma */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text {
    font-size: 18px;
    color: #fffffff6;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }